.accordionWrapper {
  padding: 30px;
  background: #fff;
  float: left;
  width: 500px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10%;
  box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);
}

.accordionItem {
  float: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open-sans', Arial, sans-serif;
}

.accordionItemHeading {
  cursor: pointer;
  margin-bottom: 3px;
  padding: 3px;
  padding-left: 50px;
  font-size: 16px;
  font-weight: 400;
  background: #6f8390;
  color: #fff;
  width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
}

.accordionItemHeading span {
  float: right;
  font-size: 25px;
}

.close .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  transform: scaleY(0);
  float: left;
  display: block;


}

.open .accordionItemContent {
  padding: 5px;
  border: none;
  width: 100%;
  font-size: 15px;
  color: #050953;
  /* white-space: pre-line; */
  margin-bottom: 5px;
  /* display: block; */
  display: inline-block;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  box-sizing: border-box;
}

.accordionItemContent a {
  display: block;
}


.open .accordionItemHeading {
  margin: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #073e63;
  color: #cdd7d8;
}