* {
  box-sizing: border-box;
}

html {
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 18px;
  /* background-color: var(--body-backgraundcolor); */
  color: #405088;
  font-weight: 400;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: background-color, border 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.section {
  padding: 50px 0;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

.article {
  display: flex;
}

input {
  outline: none;
}

code {
  color: #990dae;
  font-weight: 600;
}

code span {
  color: green;
  font-weight: normal;
}

/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/




h4 {
  margin: 0;
}


.menu__list {
  display: flex;
  display: flex;
  justify-content: space-between;
}

.menu__list-item {
  font-size: 24px;
}

.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 38px;
  background-color: #000;
  overflow: hidden;
  z-index: 10;
}

.info-box__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.info-box__item {
  border: solid 1px #000;
  background-color: #e5dede;
}

.info-box__link {
  display: block;
  margin-bottom: 8px;
}

.info-box__link:hover {
  color: blanchedalmond;
}

.nav-menu {
  width: 30%;
}

.content {
  padding-top: 38px;
}

.table__box {
  display: flex;
}


/* ******************************************* */


.wrap {
  width: 100%;
  height: 100vh;
}

.kub {
  width: 300px;
  height: 300px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #405088;
  color: #852020;
}